<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap 5 Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> --}}

</head>

<body class="body">
    <div class="container">
        <div class="row">
            {{#each sanphams}}
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <a href="/sanpham/{{this.id}}"><img src="{{this.HinhAnh}}" width="100%" height="300px"
                            class="card-img-top" alt="Card image" /></a>

                    {{!-- <a href="/sanpham/{{this.id}}"><img width="100%" height="300px"
                            src='data:image/jpeg;base64,{{this.HinhAnh}}' /></a> --}}
                    <div class="card-body">
                        <a href="/sanpham/{{this.id}}" style="text-decoration: none;">
                            <h5 style="color: red;" class="card-title">{{this.TenSP}}</h5>
                        </a>
                        <p class="card-text">đ{{this.Gia}}</p>


                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
</body>

</html>