<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap 5 Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body class="body">
    <div class="container">

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2>Update Product</h2>
                <div class="text-center">
                    <img width="30%" height="300px" src='{{sanphams.HinhAnh}}' />

                </div>
                <form action="/sanpham/{{sanphams.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="mb-3 mt-3">
                        <label for="pwd">Hinh Anh:</label>
                        <input type="file" class="form-control" id="pwd" name="image">
                    </div>
                    <div class="mb-3">
                        <label for="pwd">Ten San Pham:</label>
                        <input type="text" value="{{sanphams.TenSP}}" class="form-control" id="pwd"
                            placeholder="Ten San Pham" name="TenSP">
                    </div>
                    <div class="mb-3">
                        <label>Nhà Cung Cấp:</label>
                        <select class="form-select form-select-lg" name="IdNCC">
                            {{#each nhacc}}
                            <option value="{{this._id}}">{{this.TenNCC}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <label>Giá sản phẩm:</label><br>
                    <div class="input-group mb-3">
                        <input type="text" value="{{sanphams.Gia}}" class="form-control" placeholder="Gia San Pham"
                            name="Gia">

                    </div>
                    <label>Số lượng sản phẩm:</label><br>
                    <div class="input-group mb-3">
                        <input type="text" value="{{sanphams.Soluong}}" class="form-control"
                            placeholder="So luong San Pham" name="Soluong">

                    </div>
                    <label>Mô tả Sản phẩm:</label><br>
                    <div class="input-group mb-3">
                        <textarea rows="5" class="form-control" placeholder="So luong San Pham"
                            name="Mota">{{sanphams.Mota}}</textarea>

                    </div>

                    <button type="submit" class="btn btn-success">Update</button>
                    <a href="/sanpham"><button type="button" class="btn btn-secondary">Back to
                            list</button></a>
                </form>

            </div>
            <div class="col-sm-1"></div>
        </div>

    </div>
</body>

</html>