<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap 5 Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body class="body">
    <div class="container">

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2>Delete Product</h2>
                <div class="text-center">
                    <img width="30%" height="300px" src='{{sanphams.HinhAnh}}' />

                </div>
                <form action="/sanpham/{{sanphams.id}}?_method=DELETE" method="POST">

                    <div class="mb-3">
                        <label for="pwd">Ten San Pham:</label>
                        <input type="text" value="{{sanphams.TenSP}}" disabled="true" class="form-control" id="pwd"
                            placeholder="Ten San Pham" name="TenSP">
                    </div>
                    <label for="pwd">Nhà cung cấp:</label><br>
                    <div class="input-group mb-3">
                        <input type="text" value="{{nhacc.TenNCC}}" disabled="true" class="form-control"
                            placeholder="Gia San Pham" name="Gia">

                    </div>

                    <label for="pwd">Gia San Pham:</label><br>
                    <div class="input-group mb-3">
                        <input type="text" value="{{sanphams.Gia}}" disabled="true" class="form-control"
                            placeholder="Gia San Pham" name="Gia">

                    </div>
                    <label for="pwd">So luong San Pham:</label><br>
                    <div class="input-group mb-3">
                        <input type="text" value="{{sanphams.Soluong}}" disabled="true" class="form-control"
                            placeholder="Gia San Pham" name="Gia">

                    </div>

                    <label for="pwd">Mo ta San Pham:</label><br>
                    <div class="input-group mb-3">
                        <textarea rows="5" disabled="true" class="form-control" placeholder="Gia San Pham"
                            name="Gia">{{sanphams.Mota}}</textarea>

                    </div>

                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a href="/sanpham"><button type="button" class="btn btn-secondary">Back to
                            list</button></a>
                </form>

            </div>
            <div class="col-sm-1"></div>
        </div>

    </div>
</body>

</html>